


@media screen and (min-width: 320px) and (max-width: 767px){
    .flex-container a.facebook {
        order: 2;
    }
    .flex-container p {
        order: 3;
    }

    .flex-container a.logo {
        order: 1;
    }
    .flex-container {
        margin-top: 0px;
        align-items: center;
    }
    .flex-container a.logo {
        margin: 15px;
    }

    .flex-container p {
        padding: 15px;
    }
    .flex-container a.facebook {
        margin-top: 15px;
    }
}
